{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-6">A Convolutional Neural Network Classifier by {{ app_data['author'] }} </h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p>Title: {{ app_data['html_title'] }}</p>

    <hr class="my-4">

    <div class="form-container ">
      <form action = "/predict/" method="post" enctype="multipart/form-data">
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name='file' class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
            <label id='labelForInput' class="custom-file-label" for="inputGroupFile04">Choose file</label>
          </div>
          <div class="input-group-append">
            <button class="btn btn-primary" value='submit' type="submit" id="inputGroupFileAddon04">Predict</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}

<script>
  let inp=document.querySelector("#inputGroupFile04")
  window.addEventListener("change",handleFiles,false)

  function handleFiles() {
    const fileList = inp.files[0]; /* now you can work with the file list */
    const fileName=fileList.name
    document.getElementById('labelForInput').innerHTML= fileName;
    console.log(fileList)
  }

</script>
{% endblock %}
