{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-6">A Convolutional Neural Network Classifier by {{ app_data['author'] }} </h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p>Title: {{ app_data['html_title'] }}</p>

    <hr class="my-4">

    <div class="form-container ">
        <h1>{{pred}}</h1>
      <img src={{image_path}} style='max-height: 40vh;object-fit: contain;' class="rounded mx-auto d-block img-thumbnail"/>
    </div>
  </div>
{% endblock %}

